<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Search</title>
  
  
  
  <link rel = "stylesheet" href = "../static/style.css"> 

  
</head>

<body>

<form class="form-wrapper cf">
  	<input type="text" placeholder="Search here..." name="query">
	  <button type="submit">Search</button>
<table>

    <tr><td><input class="p" type="radio" name="method" value="inverted_index"></td><td>Inverted index</td></tr>
    <tr><td><input class="p" type="radio" name="method" value="word2vec"></td><td>Word2vec</td></tr>
    <tr><td><input class="p" type="radio" name="method" value="doc2vec"></td><td>Doc2vec</td></tr>

</table>
</form>



</body>

</html>
